{
  "extends": "eslint:recommended",

  "env": {
    "browser": true,
    "node": true
  },

  "rules": {

    "no-console": 0,


    "curly": 2,
    "eqeqeq": 2,
    "no-eval": 2,
    "no-extend-native": [1, {
      "exceptions": ["String"]
    }],
    "no-floating-decimal": 2,
    "no-implied-eval": 2,
    "no-invalid-this": 2,
    "no-lone-blocks": 1,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-new-wrappers": 1,
    "no-new": 2,
    "no-octal": 1,
    "no-proto": 2,
    "no-script-url": 2,
    "no-self-compare": 1,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 1,
    "no-void": 2,
    "no-with": 2,
    "radix": 1,
    "wrap-iife": [2, "inside"],
    "yoda": 2,


    "no-shadow-restricted-names": 2,
    "no-undef": 2,
    "no-undefined": 2,
    "no-use-before-define": [2, "nofunc"],


    "global-require": 2,
    "handle-callback-err": [2, "^(err|error)$"],
    "no-path-concat": 2,


    "block-spacing": [2, "always"],
    "brace-style": [2, "1tbs", {
      "allowSingleLine": false
    }],

    "camelcase": 1,
    "comma-spacing": [2, {
      "before": false,
      "after": true
    }],
    "comma-style": [2, "last"],
    "computed-property-spacing": [2, "never"],
    "eol-last": 2,
    "indent": [2, 4, {"SwitchCase": 1}],
    "jsx-quotes": [2, "prefer-double"],
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true
    }],
    "keyword-spacing": [2,
      {
        "before": true,
        "after": true
      }
    ],
    "lines-around-comment": [2, {
      "beforeBlockComment": true,
      "beforeLineComment": true,
      "allowBlockStart": true,
      "allowObjectStart": true
    }],
    "new-cap": 2,
    "new-parens": 2,
    "newline-after-var": [2, "always"],
    "no-array-constructor": 2,
    "no-multiple-empty-lines": [2, {
      "max": 2
    }],
    "no-nested-ternary": 1,
    "no-new-object": 2,
    "no-spaced-func": 2,
    "no-trailing-spaces": 2,
    "no-unneeded-ternary": 1,
    "one-var": [2, "never"],
    "quote-props": [2, "as-needed"],
    "quotes": [2, "single"],
    "semi-spacing": 2,
    "semi": [2, "always"],
    "space-before-blocks": [2,"always"],
    "space-before-function-paren": [2, "always"],
    "space-in-parens": [2, "never"],
    "space-unary-ops": 2,
    "wrap-regex": 2
  }
}
