$color-white: #fff;
$color-black: #000;

$color-primary: $color-black;
$color-secondary: $color-white;
$color-tertiary: $color-gray;
$color-accent: $color-yellow;

$color-yellow: #ee3;

$offset-step: 10px;
$offset-n: $offset-step;
$offset-s: $offset-step/2;
$offset-l: $offset-step*2;

$a: 100;
$b: $a;
$c: $b;
$d: $c;
$e: $b;
