$color: #fff;
$color-rgba: rgba(255,255,255,1);

$margin: 10px auto 20px;

$columns: 12;

$line-height-h1:1.1;
$line-height-h2 :1.2;
$line-height-h3 : 1.3;
$line-height-h4: 1.4 ;
$line-height-h5: 1.5
;
$line-height-h6: 1.6


;

$z_index__modal: 1000;

$opacity--heavy: .4;

$TEXT_TRANSFORM: uppercase;

$offset-s: 1rem
;$offset-l: 2rem
; $offset-xl: 3rem
 ; $offset-xxl: 4rem;

$page-offset
                :     20px
;
